In [76]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from tensorflow.keras.utils import to_categorical
from sklearn import preprocessing

In [84]:
#Load the data
y_train = pd.read_csv('data/labels.csv', index_col=0, header=None)
X = pd.read_csv('data/train.csv', header=None)
x_test = pd.read_csv('data/test.csv', header=None)
sub = pd.read_csv('data/submission.csv', index_col=0, header=None)

X.shape

(4750, 784)

In [85]:
y_train

                 1
0
0     Common wheat
1     Common wheat
2     Common wheat
3     Common wheat
4     Common wheat
...            ...
4745         Maize
4746         Maize
4747         Maize
4748         Maize
4749         Maize

[4750 rows x 1 columns]

In [86]:
le = preprocessing.LabelEncoder()
y = le.fit_transform(y_train[1])

In [115]:
clf = RandomForestClassifier(n_estimators=1000, max_features=50, max_depth=50)
clf.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=50, max_features=50, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [116]:
output = clf.predict(x_test)

In [117]:
labs = le.inverse_transform(output)
labs_df = pd.DataFrame(labs)

In [118]:
labs_df

                             0
0             Loose Silky-bent
1    Small-flowered Cranesbill
2             Loose Silky-bent
3    Small-flowered Cranesbill
4            Scentless Mayweed
..                         ...
789                      Maize
790                    Fat Hen
791           Common Chickweed
792           Common Chickweed
793           Loose Silky-bent

[794 rows x 1 columns]

In [119]:
submission = pd.merge(sub, labs_df, left_index=True, right_index=True)

In [120]:
submission

                 1                          0
0
0    ab0f67743.png           Loose Silky-bent
1    675ec1b0b.png  Small-flowered Cranesbill
2    46c14fde2.png           Loose Silky-bent
3    d6c8c3c48.png  Small-flowered Cranesbill
4    205df1df3.png          Scentless Mayweed
..             ...                        ...
789  cbba27d89.png                      Maize
790  c832e4302.png                    Fat Hen
791  78c5fba1d.png           Common Chickweed
792  52dc7a4d6.png           Common Chickweed
793  5315c2dca.png           Loose Silky-bent

[794 rows x 2 columns]

In [121]:
submission.to_csv('submission_rf.csv', index=False)